/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Stile generale*/
body{
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
}

/*Utility class*/


.dm-sans-text{
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-style: normal;
}  

.text-center{
    text-align: center;
}

/*header*/
.bg-img{
    width: 512px;
}




